{{ define "navbar" }}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand mx-auto" href="/">Stock</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="/name-list">
            单股票明细
          </a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/hold-last-deal">
          持仓股票的最新买卖记录
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/clearance">
          清仓股票分析
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/position">
          持仓股票分析
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add">
          新增单条记录
        </a>
      </li>
    </ul>
  </div>
</nav>
{{ end }}