{{ define "layout" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/plutochan.css">
    <title>Pal4</title>
  </head>
  <body>
    {{ template "navbar" . }}
    <div class="container-fluid mx-auto">     
      {{ template "content" . }}
    </div>
    <script src="/static/js/jquery-3.4.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
{{ end }}