{{ define "navbar" }}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand mx-auto" href="/">Pal4</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          装备
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/ea/wt">剑</a>
          <a class="dropdown-item" href="/ea/wl">双剑</a>
          <a class="dropdown-item" href="/ea/wm">琴</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/ea/m">头部防具</a>
          <a class="dropdown-item" href="/ea/y">身体防具</a>
          <a class="dropdown-item" href="/ea/x">足部防具</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/ea/p">佩戴</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          道具
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/pa/sw">食物</a>
          <a class="dropdown-item" href="/pa/dh">其它恢复类</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/pa/dg">攻击类</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/pa/cx">香料</a>
          <a class="dropdown-item" href="/pa/df">其它辅助类</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/pa/ck">矿石</a>
          <a class="dropdown-item" href="/pa/cs">尸块</a>
          <a class="dropdown-item" href="/pa/cq">其它材料</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/pa/jq">剧情类</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          配方
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/pra/wt">剑</a>
          <a class="dropdown-item" href="/pra/wl">双剑</a>
          <a class="dropdown-item" href="/pra/wm">琴</a>
          <a class="dropdown-item" href="/pra/m">头部防具</a>
          <a class="dropdown-item" href="/pra/y">身体防具</a>
          <a class="dropdown-item" href="/pra/x">足部防具</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/pra/zz02">锻冶</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/pra/zz03">注灵</a>
        </div>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          仙剑问答
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/qa/history">仙剑历史</a>
          <a class="dropdown-item" href="/qa/story">仙剑故事</a>
          <a class="dropdown-item" href="/qa/world">仙剑世界</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          任务详情
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/mi/main">主线</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/mi/delegation">委托</a>
          <a class="dropdown-item" href="/mi/branch">支线</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          仙术明细
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/magic/self">我方</a>
          <a class="dropdown-item" href="/magic/enemy">敌方</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          特技明细
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/stunt/self">我方</a>
          <a class="dropdown-item" href="/stunt/enemy">敌方</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          升级数据
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/up/tianhe">云天河</a>
          <a class="dropdown-item" href="/up/lingsha">韩菱纱</a>
          <a class="dropdown-item" href="/up/mengli">柳梦璃</a>
          <a class="dropdown-item" href="/up/ziying">慕容紫英</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          怪物信息
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/ma/common">日常属性</a>
          <a class="dropdown-item" href="/ma/basic">八基本属性与五灵</a>
          <a class="dropdown-item" href="/ma/resistance">抗性、反弹、受伤音效</a>
          <a class="dropdown-item" href="/ma/skill">物理追加与技能</a>
          <a class="dropdown-item" href="/ma/drop">偷窃与掉落</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          物品拾取
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/pu/m">迷宫</a>
          <a class="dropdown-item" href="/pu/c">城镇</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          收集详情
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/fm/ea/wt">剑</a>
          <a class="dropdown-item" href="/fm/ea/wl">双剑</a>
          <a class="dropdown-item" href="/fm/ea/wm">琴</a>
          <a class="dropdown-item" href="/fm/ea/m">头部防具</a>
          <a class="dropdown-item" href="/fm/ea/y">身体防具</a>
          <a class="dropdown-item" href="/fm/ea/x">足部防具</a>
          <a class="dropdown-item" href="/fm/ea/p">佩饰</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/fm/pa/sw">食物</a>
          <a class="dropdown-item" href="/fm/pa/dh">其它恢复类</a>
          <a class="dropdown-item" href="/fm/pa/dg">攻击物品</a>
          <a class="dropdown-item" href="/fm/pa/cx">香料</a>
          <a class="dropdown-item" href="/fm/pa/df">其它辅助类</a>
          <a class="dropdown-item" href="/fm/pa/ck">矿石</a>
          <a class="dropdown-item" href="/fm/pa/cs">尸块</a>
          <a class="dropdown-item" href="/fm/pa/cq">其它材料</a>
          <a class="dropdown-item" href="/fm/pa/jq">剧情类</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/fm/pra/wt">剑配方</a>
          <a class="dropdown-item" href="/fm/pra/wl">双剑配方</a>
          <a class="dropdown-item" href="/fm/pra/wm">琴配方</a>
          <a class="dropdown-item" href="/fm/pra/m">头部防具配方</a>
          <a class="dropdown-item" href="/fm/pra/y">身体防具配方</a>
          <a class="dropdown-item" href="/fm/pra/x">足部防具配方</a>
          <a class="dropdown-item" href="/fm/pra/zz02">锻冶配方</a>
          <a class="dropdown-item" href="/fm/pra/zz03">注灵配方</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
{{ end }}