{{ define "content" }}
<table class="table table-sm table-bordered table-striped table-hover">
  <caption>{{ .Role }}</caption>
  <thead class="thead-dark">
    <tr>
      <th>等级</th>
      <th>经验值</th>
      <th>精</th>
      <th>神</th>
      <th>武</th>
      <th>防</th>
      <th>速</th>
      <th>运</th>
      <th>灵</th>
      <th>格挡率</th>
    </tr>
  </thead>
  <tbody>
    {{ range .UpgradeList }}
    <tr>
      <td>{{ .Level }}</td>
      <td>{{ .Experience }}</td>
      <td>{{ .MaxHP }}</td>
      <td>{{ .MaxMP }}</td>
      <td>{{ .Physical }}</td>
      <td>{{ .Toughness }}</td>
      <td>{{ .Speed }}</td>
      <td>{{ .Lucky }}</td>
      <td>{{ .Will }}</td>
      <td>{{ .FendOffPer }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
