{{ define "navbar" }}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand mx-auto" href="/">Crh</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="/combo">
            组合技
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            武功修炼
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/fighter/neigong">内功心法</a>
            <a class="dropdown-item" href="/fighter/lover">情侣合技</a>
            <a class="dropdown-item" href="/fighter/rage">怒技</a>
            <a class="dropdown-item" href="/fighter/common">普通招式</a>
            <a class="dropdown-item" href="/fighter/combo">组合技</a>
          </div>
        </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          道具
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/item/fan">扇</a>
          <a class="dropdown-item" href="/item/sword">剑</a>
          <a class="dropdown-item" href="/item/dagger">短剑</a>
          <a class="dropdown-item" href="/item/bow">弓</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/item/armor">盔甲</a>
          <a class="dropdown-item" href="/item/boots">鞋</a>
          <a class="dropdown-item" href="/item/ornament">佩饰</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/item/kungfu">武功</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/item/elixir">丹药</a>
          <a class="dropdown-item" href="/item/hidden-weapon">暗器</a>
          <a class="dropdown-item" href="/item/food">食物</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/item/ingredient">食材</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          敌人信息
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/enemy/male">男性</a>
          <a class="dropdown-item" href="/enemy/female">女性</a>
          <a class="dropdown-item" href="/enemy/other">其它</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mission">
          任务列表
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/role">
          角色列表
        </a>
      </li>
    </ul>
  </div>
</nav>
{{ end }}